In [2]:
from pandas import Series, DataFrame
import numpy as np

In [5]:
obj = Series(np.arange(4.), index=['a', 'b', 'c', 'd'])
print(obj)
print(obj[1], obj['b'])
print(obj[2:4]) # 범위
print(obj[[1,3]]) # 각각
print(obj[['c', 'a']])
print(obj['a':'c'])
print(obj < 2)
print(obj[obj < 2])
print(obj)

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64
1.0 1.0
c    2.0
d    3.0
dtype: float64
b    1.0
d    3.0
dtype: float64
c    2.0
a    0.0
dtype: float64
a    0.0
b    1.0
c    2.0
dtype: float64
a     True
b     True
c    False
d    False
dtype: bool
a    0.0
b    1.0
dtype: float64
a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [10]:
frame = DataFrame(np.arange(12).reshape(4,3), index = ['1월', '2월', '3월', '4월'], \
                  columns = ["강남", "강북", "서초"])
print(frame)
print(frame['강남'] > 3)
#print(frame.강남)
print(frame[frame['강남'] > 3])
frame[frame < 3] = 0
print(frame)
print()

print(frame.loc['3월', ['강남', '강북']]) # loc : 라벨기반
print(frame.iloc[2]) # loc : 숫자기반
print(frame.loc[:'2월'])
print(frame.loc[:'2월', '서초'])

    강남  강북  서초
1월   0   1   2
2월   3   4   5
3월   6   7   8
4월   9  10  11
1월    False
2월    False
3월     True
4월     True
Name: 강남, dtype: bool
    강남  강북  서초
3월   6   7   8
4월   9  10  11
    강남  강북  서초
1월   0   0   0
2월   3   4   5
3월   6   7   8
4월   9  10  11

강남    6
강북    7
Name: 3월, dtype: int32
강남    6
강북    7
서초    8
Name: 3월, dtype: int32
    강남  강북  서초
1월   0   0   0
2월   3   4   5
1월    0
2월    5
Name: 서초, dtype: int32