In [3]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [13]:
df = DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
               'key2':['one','two','one','two','one'],
               'data1':np.random.randn(5),# 정규분포를 따르는 난수.
               'data2':np.random.randn(5)})
print(df)
gr = df['data1'].groupby(df['key1']) # 객체생성. data1값을 key1의 그룹으로 묶어 출력.
#print(gr)
print(gr.sum())
print(gr.mean())
print()

result = df['data1'].groupby([df['key1'], df['key2']]).mean() # 뒤에다가 바로 함수를 적어 출력 할 수 있음.
print(result)

  key1 key2     data1     data2
0    a  one -0.655375  0.127457
1    a  two -0.406215 -0.066002
2    b  one  0.618677 -0.009811
3    b  two  0.684661  0.805673
4    a  one -2.237369 -0.363313
key1
a   -3.298960
b    1.303338
Name: data1, dtype: float64
key1
a   -1.099653
b    0.651669
Name: data1, dtype: float64

key1  key2
a     one    -1.446372
      two    -0.406215
b     one     0.618677
      two     0.684661
Name: data1, dtype: float64

In [15]:
# pivot table : 데이터 열 중에서 두 개의 key를 사용하여 데이터를 선택하는 방법.
data = {'city':['강남','강북','강남','강북'],
       'year':[2000, 2001, 2002, 2002],
        'pop':[3.3, 2.5, 3.0, 2.0]}
df = pd.DataFrame(data) # 데이터프레임으로 바꿈.
print(df)

  city  year  pop
0   강남  2000  3.3
1   강북  2001  2.5
2   강남  2002  3.0
3   강북  2002  2.0

In [21]:
print(df.pivot('city', 'year', 'pop')) # 행 : city, 열 : year, 연산 : pop
print(df.pivot('year', 'city', 'pop'))
print()

print(df.set_index(['city', 'year']).unstack()) # pivot처럼 모양을 갖출 수 있음.
print(df.set_index(['year', 'city']).unstack())

year  2000  2001  2002
city
강남     3.3   NaN   3.0
강북     NaN   2.5   2.0
city   강남   강북
year
2000  3.3  NaN
2001  NaN  2.5
2002  3.0  2.0

      pop
year 2000 2001 2002
city
강남    3.3  NaN  3.0
강북    NaN  2.5  2.0
      pop
city   강남   강북
year
2000  3.3  NaN
2001  NaN  2.5
2002  3.0  2.0

In [27]:
print(df)
print(df.pivot_table(index=['city']))
print(df.pivot_table(index=['city'], aggfunc=np.mean))
print(df.pivot_table(index=['city', 'year'], aggfunc=np.mean)) # index에 있는 애들 제외한 나머지는 연산대상이 됨.
print(df.pivot_table(index=['city', 'year'], aggfunc=[len, np.sum])) # list로 여러 연산을 한꺼번에 할 수 있음.

  city  year  pop
0   강남  2000  3.3
1   강북  2001  2.5
2   강남  2002  3.0
3   강북  2002  2.0
       pop    year
city
강남    3.15  2001.0
강북    2.25  2001.5
       pop    year
city
강남    3.15  2001.0
강북    2.25  2001.5
           pop
city year
강남   2000  3.3
     2002  3.0
강북   2001  2.5
     2002  2.0
           len  sum
           pop  pop
city year
강남   2000  1.0  3.3
     2002  1.0  3.0
강북   2001  1.0  2.5
     2002  1.0  2.0

In [36]:
print(df.pivot_table(['pop'], index='city')) # 앞에 연산을 설정 할 수 있음. 여기서는 pop이 연산 대상
print(df.pivot_table(['pop'], index='city', aggfunc=len))
print()

print(df.pivot_table(['pop'], index=['year'], columns=['city'])) # 위에서 그냥 pivot한 것과 동일.
print(df.pivot_table(['pop'], index=['year'], columns=['city'], margins=True)) # margins : 행과 열에 대한 값을 출력.
print(df.pivot_table(['pop'], index=['year'], columns=['city'], margins=True, fill_value=0)) # NaN값을 0으로 채움.
print()

print(df.groupby(['city']).sum()) # groupby로 묶어 합을 출력.
print(df.groupby(['city', 'year']).sum())

       pop
city
강남    3.15
강북    2.25
      pop
city
강남    2.0
강북    2.0

      pop
city   강남   강북
year
2000  3.3  NaN
2001  NaN  2.5
2002  3.0  2.0
       pop
city    강남    강북  All
year
2000  3.30   NaN  3.3
2001   NaN  2.50  2.5
2002  3.00  2.00  2.5
All   3.15  2.25  2.7
       pop
city    강남    강북  All
year
2000  3.30  0.00  3.3
2001  0.00  2.50  2.5
2002  3.00  2.00  2.5
All   3.15  2.25  2.7

      year  pop
city
강남    4002  6.3
강북    4003  4.5
           pop
city year
강남   2000  3.3
     2002  3.0
강북   2001  2.5
     2002  2.0

In [42]:
des = pd.read_csv('testdata/descriptive.csv')
#print(des.info()) # 컬럼 정보
data = des[['resident', 'gender', 'age', 'level', 'pass']]
print(data.head(3))
print(data[:3])
table = pd.crosstab(data.resident, data.gender)
print(table)
table2 = pd.crosstab([data.resident, data.gender], data.level)
print(table2)

   resident  gender  age  level  pass
0         1       1   50      1     2
1         2       1   54      2     2
2         5       1   51      1     1
   resident  gender  age  level  pass
0         1       1   50      1     2
1         2       1   54      2     2
2         5       1   51      1     1
gender     1  2
resident
1         13  4
2          8  5
3          4  1
4          1  1
5          3  0
level             1  2  3
resident gender
1        1       11  1  1
         2        0  4  0
2        1        3  5  0
         2        2  1  2
3        1        2  2  0
         2        0  1  0
4        1        0  1  0
         2        1  0  0
5        1        1  2  0