In [2]:
import pandas as pd

In [9]:
# file io
df = pd.read_csv('testdata/ex1.csv')
print(df, type(df))
print()

#df = pd.read_csv('testdata/ex1.csv')
df = pd.read_csv('testdata/ex2.csv', header=None)
df = pd.read_csv('testdata/ex2.csv', names=['a', 'b'])
df = pd.read_csv('testdata/ex2.csv', names=['a', 'b', 'c', 'd', 'e', 'f'])
df = pd.read_csv('testdata/ex2.csv', names=['a', 'b', 'c', 'd', 'msg'], index_col='msg') # 인덱스 칼럼명 설정 가능
print(df)

   bunho irum  kor  eng
0      1  홍길동   90   90
1      2  신기해   95   80
2      3  한국인  100   85 <class 'pandas.core.frame.DataFrame'>

       a   b   c   d
msg
hello  1   2   3   4
world  5   6   7   8
foo    9  10  11  12

In [18]:
df = pd.read_csv('testdata/ex3.txt')
df = pd.read_csv('testdata/ex3.txt', sep='\s+')
df = pd.read_csv('testdata/ex3.txt', sep='\s+', skiprows=[1,3]) # 정규표현식, 특정행 스킵 가능. 여기서는 1,3 행만 가져옴.
df = pd.read_table('testdata/ex3.txt', sep='\s+', skiprows=[1,3])
print(df)
print()

df2 = pd.read_fwf('testdata/data_fwt.txt', widths=(10, 3, 5), names = ('data', 'name', 'price'), encoding='utf8')
print(df2)

            A         B         C
bbb  0.927272  0.302904 -0.032399
ddd -0.871858 -0.348382  1.100491

         data name  price
0  2017-04-10  네이버  32000
1  2017-04-11  네이버  34000
2  2017-04-12  네이버  33000
3  2017-04-10  코리아  22000
4  2017-04-11  코리아  21000
5  2017-04-12  코리아  24000

In [20]:
# chunk size를 이용
test = pd.read_csv('testdata/data_csv2.csv', header=None, chunksize=3)
print(test)

for piece in test:
    #print(piece)
    print(piece.sort_values(by=2, ascending=True))

<pandas.io.parsers.TextFileReader object at 0x0000000008122588>
   0    1     2
2  3  바나나  1000
0  1   사과  3500
1  2    배  5000
   0   1     2
4  5  참외  2000
3  4  수박  7000