In [25]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [15]:
df = DataFrame([[1.5, np.NaN], [7, -4.5], [np.NaN, np.NaN], [0.5, -1]], index = ['a', 'b', 'c', 'd'], columns=['one', 'two'])
print(df)
print()
print(df.dropna())
print()
print(df.dropna(how='all'))
print()
print(df.fillna(0))

   one  two
a  1.5  NaN
b  7.0 -4.5
c  NaN  NaN
d  0.5 -1.0

   one  two
b  7.0 -4.5
d  0.5 -1.0

   one  two
a  1.5  NaN
b  7.0 -4.5
d  0.5 -1.0

   one  two
a  1.5  0.0
b  7.0 -4.5
c  0.0  0.0
d  0.5 -1.0

In [17]:
print(df.sum()) # 열의 합. NaN에서 제외
print(df.sum(axis=0))
print()
print(df.sum(axis=1)) #행의 합.
print()
print(df.mean(axis=1)) # 행의 평균
print(df.mean(axis = 1, skipna=True))
print(df.mean(axis = 1, skipna=False))
print()
print(df.idxmax()) # 가장 큰값의 인덱스 반환.
print(df.idxmin())
print()
print(df.describe()) # 요약 통계.

one    9.0
two   -5.5
dtype: float64
one    9.0
two   -5.5
dtype: float64

a    1.5
b    2.5
c    0.0
d   -0.5
dtype: float64

a    1.50
b    1.25
c     NaN
d   -0.25
dtype: float64
a    1.50
b    1.25
c     NaN
d   -0.25
dtype: float64
a     NaN
b    1.25
c     NaN
d   -0.25
dtype: float64

one    b
two    d
dtype: object
one    d
two    b
dtype: object

        one       two
count  3.00  2.000000
mean   3.00 -2.750000
std    3.50  2.474874
min    0.50 -4.500000
25%    1.00 -3.625000
50%    1.50 -2.750000
75%    4.25 -1.875000
max    7.00 -1.000000

In [20]:
df = DataFrame(1000 + np.arange(6).reshape(2, 3), index = ['대전', '서울'], columns=['2015', '2016', '2017'])
print(df)
df_row = df.stack() # 칼럼을 행으로 변경.
print(df_row)
print()
df_col = df_row.unstack() # 행을 컬럼으로 변경.
print(df_col)

    2015  2016  2017
대전  1000  1001  1002
서울  1003  1004  1005
대전  2015    1000
    2016    1001
    2017    1002
서울  2015    1003
    2016    1004
    2017    1005
dtype: int32

    2015  2016  2017
대전  1000  1001  1002
서울  1003  1004  1005

In [23]:
data = {'data' : ['a'] * 4, 'data2': [1, 1, 2, 2]}
df2 = DataFrame(data)
print(df2)
print()
result = df2.drop_duplicates() # 중복제거.
print(result)

  data  data2
0    a      1
1    a      1
2    a      2
3    a      2

  data  data2
0    a      1
2    a      2

In [31]:
price = [10.3, 5.5, 7.8, 3.6] # 데이터 범주화
cut = [3, 7, 9, 11] # 구간 기준값
re_cut = pd.cut(price, cut)
print(re_cut)
counter = pd.value_counts(re_cut)
print(counter)
print()

data_df = Series(np.arange(1, 1001))
print(data_df.tail())
print()

re_cut2 = pd.qcut(data_df, 3)
print(re_cut2)
print(pd.value_counts(re_cut2))

[(9, 11], (3, 7], (7, 9], (3, 7]]
Categories (3, interval[int64]): [(3, 7] < (7, 9] < (9, 11]]
(3, 7]     2
(9, 11]    1
(7, 9]     1
dtype: int64

995     996
996     997
997     998
998     999
999    1000
dtype: int32

0       (0.999, 334.0]
1       (0.999, 334.0]
2       (0.999, 334.0]
3       (0.999, 334.0]
4       (0.999, 334.0]
5       (0.999, 334.0]
6       (0.999, 334.0]
7       (0.999, 334.0]
8       (0.999, 334.0]
9       (0.999, 334.0]
10      (0.999, 334.0]
11      (0.999, 334.0]
12      (0.999, 334.0]
13      (0.999, 334.0]
14      (0.999, 334.0]
15      (0.999, 334.0]
16      (0.999, 334.0]
17      (0.999, 334.0]
18      (0.999, 334.0]
19      (0.999, 334.0]
20      (0.999, 334.0]
21      (0.999, 334.0]
22      (0.999, 334.0]
23      (0.999, 334.0]
24      (0.999, 334.0]
25      (0.999, 334.0]
26      (0.999, 334.0]
27      (0.999, 334.0]
28      (0.999, 334.0]
29      (0.999, 334.0]
            ...
970    (667.0, 1000.0]
971    (667.0, 1000.0]
972    (667.0, 1000.0]
973    (667.0, 1000.0]
974    (667.0, 1000.0]
975    (667.0, 1000.0]
976    (667.0, 1000.0]
977    (667.0, 1000.0]
978    (667.0, 1000.0]
979    (667.0, 1000.0]
980    (667.0, 1000.0]
981    (667.0, 1000.0]
982    (667.0, 1000.0]
983    (667.0, 1000.0]
984    (667.0, 1000.0]
985    (667.0, 1000.0]
986    (667.0, 1000.0]
987    (667.0, 1000.0]
988    (667.0, 1000.0]
989    (667.0, 1000.0]
990    (667.0, 1000.0]
991    (667.0, 1000.0]
992    (667.0, 1000.0]
993    (667.0, 1000.0]
994    (667.0, 1000.0]
995    (667.0, 1000.0]
996    (667.0, 1000.0]
997    (667.0, 1000.0]
998    (667.0, 1000.0]
999    (667.0, 1000.0]
Length: 1000, dtype: category
Categories (3, interval[float64]): [(0.999, 334.0] < (334.0, 667.0] < (667.0, 1000.0]]
(0.999, 334.0]     334
(667.0, 1000.0]    333
(334.0, 667.0]     333
dtype: int64