In [1]:
from pandas import Series, DataFrame
import numpy as np

In [6]:
# Series
data = Series([5,7,-2,3], index = ('d', 'b', 'a', 'c'))
print(data)
data2 = data.reindex(['a', 'b', 'c', 'd', 'e'])
#data2 = data.reindex(['a', 'b', 'c', 'd', 'e'], fill_value = 0) # 없는 값에 0으로 채워줌.
print(data2)
data3 = Series(['마우스', '키보드', '모니터'], index = [0, 2, 3])
print(data3)
print(data3.reindex(range(6))) # 누락된 위치에는 NaN으로 채워짐.
print(data3.reindex(range(6), method="ffill")) # 값이 없는데는 앞에 있는 값을 채움.
print(data3.reindex(range(6), method="bfill"))
#print(data3.reindex(range(6), method="backfill"))

d    5
b    7
a   -2
c    3
dtype: int64
a   -2.0
b    7.0
c    3.0
d    5.0
e    NaN
dtype: float64
0    마우스
2    키보드
3    모니터
dtype: object
0    마우스
1    NaN
2    키보드
3    모니터
4    NaN
5    NaN
dtype: object
0    마우스
1    마우스
2    키보드
3    모니터
4    모니터
5    모니터
dtype: object
0    마우스
1    키보드
2    키보드
3    모니터
4    NaN
5    NaN
dtype: object

In [13]:
# DataFrame
df = DataFrame(np.arange(6).reshape((3,2)), index = ['1월', '3월', '4월'], \
              columns = ['강남', '강북'])
print(df)

print(df)
df2 = df.reindex(['1월', '2월', '3월', '4월'])
print(df2)
site = ['강남', '서초', '강동']
df3 = df.reindex(columns=site)
print(df3)
df4 = df.reindex(['1월', '2월', '3월', '4월'], columns=site, method='ffill')
print(df4)

    강남  강북
1월   0   1
3월   2   3
4월   4   5
    강남  강북
1월   0   1
3월   2   3
4월   4   5
     강남   강북
1월  0.0  1.0
2월  NaN  NaN
3월  2.0  3.0
4월  4.0  5.0
    강남  서초  강동
1월   0 NaN NaN
3월   2 NaN NaN
4월   4 NaN NaN
    강남  서초  강동
1월   0   1   0
2월   0   1   0
3월   2   3   2
4월   4   5   4