In [9]:
import MySQLdb
import pandas as pd
import csv

In [5]:
config = {
    'host':'127.0.0.1',
    'user':'root',
    'password':'123',
    'database':'test',
    'port':3306,
    'charset':'utf8',
    'use_unicode':True
}

In [12]:
try:
    conn = MySQLdb.connect(**config)
    cursor = conn.cursor()
    
    sql = "select code, sang, su, dan from sangdata"
    cursor.execute(sql)
    
    for(code, sang, su, dan) in cursor:
        print(code, sang, su, dan)
    
    # remote db의 sangdata table을 파일로 저장.
    with open('sang.csv', 'w', encoding="utf-8") as f:
        writer = csv.writer(f)
        for row in cursor:
            writer.writerow(row)
    
    # 읽기
    df = pd.read_csv('sang.csv', header=None, names=('code', 'sang', 'su', 'dan'))
    print(df)
    
    print()
    df2 = pd.read_sql("select * from sangdata where code <= 5", conn)
    print(df2)
    print(df2['sang'].value_counts())
    print(df2['sang'].unique())
    print(df2.transpose())
    print(df2.describe())
    
except Exception as err:
    print('Err : ', err)

1 장갑 3 10000
2 실장갑 77 12000
3 가죽장갑 10 50000
4 가죽점퍼 5 650000
6 칙촉 10 500
7 자바기초 5 25000
8 파이썬응용 7 35000
9 오라클활용 11 22000
   code   sang  su     dan
0     1     장갑   3   10000
1     2    실장갑  77   12000
2     3   가죽장갑  10   50000
3     4   가죽점퍼   5  650000
4     6     칙촉  10     500
5     7   자바기초   5   25000
6     8  파이썬응용   7   35000
7     9  오라클활용  11   22000

   code  sang  su     dan
0     1    장갑   3   10000
1     2   실장갑  77   12000
2     3  가죽장갑  10   50000
3     4  가죽점퍼   5  650000
가죽점퍼    1
가죽장갑    1
실장갑     1
장갑      1
Name: sang, dtype: int64
['장갑' '실장갑' '가죽장갑' '가죽점퍼']
          0      1      2       3
code      1      2      3       4
sang     장갑    실장갑   가죽장갑    가죽점퍼
su        3     77     10       5
dan   10000  12000  50000  650000
           code         su            dan
count  4.000000   4.000000       4.000000
mean   2.500000  23.750000  180500.000000
std    1.290994  35.621857  313540.534328
min    1.000000   3.000000   10000.000000
25%    1.750000   4.500000   11500.000000
50%    2.500000   7.500000   31000.000000
75%    3.250000  26.750000  200000.000000
max    4.000000  77.000000  650000.000000