In [2]:
from pandas import Series, DataFrame
import numpy as np
s1 = Series([1,2,3,4], index=['a', 'b', 'c', 'd'])
s2 = Series([5,6,7,8], index=['a', 'b', 'c', 'd'])
print(s1 + s2) # 동일 인덱스 간 연산. 불일치 시 NaN
print(s1 * s2)

a     6
b     8
c    10
d    12
dtype: int64
a     5
b    12
c    21
d    32
dtype: int64

In [6]:
col = ['a', 'b', 'c']
df1 = DataFrame(np.arange(9).reshape(3,3), columns=col, index = ['서울', '대전', '부산'])
df2= DataFrame(np.arange(12).reshape(4,3), columns=col, index = ['서울', '대전', '제주', '수원'])

print(df1)
print(df2)
print(df1 + df2)
print(df1.add(df2))
print(df1.add(df2, fill_value = 0))
print(df1.mul(df2, fill_value = 0))
print()

ser = df1.iloc[0]
print(ser)
print(df1 - ser)

    a  b  c
서울  0  1  2
대전  3  4  5
부산  6  7  8
    a   b   c
서울  0   1   2
대전  3   4   5
제주  6   7   8
수원  9  10  11
      a    b     c
대전  6.0  8.0  10.0
부산  NaN  NaN   NaN
서울  0.0  2.0   4.0
수원  NaN  NaN   NaN
제주  NaN  NaN   NaN
      a    b     c
대전  6.0  8.0  10.0
부산  NaN  NaN   NaN
서울  0.0  2.0   4.0
수원  NaN  NaN   NaN
제주  NaN  NaN   NaN
      a     b     c
대전  6.0   8.0  10.0
부산  6.0   7.0   8.0
서울  0.0   2.0   4.0
수원  9.0  10.0  11.0
제주  6.0   7.0   8.0
      a     b     c
대전  9.0  16.0  25.0
부산  0.0   0.0   0.0
서울  0.0   1.0   4.0
수원  0.0   0.0   0.0
제주  0.0   0.0   0.0

a    0
b    1
c    2
Name: 서울, dtype: int32
    a  b  c
서울  0  0  0
대전  3  3  3
부산  6  6  6