In [1]:
from pandas import Series # 색인 기능

In [8]:
#obj = Series([3, 7, -5, '4']) 
obj = Series([3, 7, -5, 4]) # [], () : O, {} : X(Set 타입 안됨.)
print(obj, type(obj))
obj2 = Series([3, 7, -5, 4], index = ['a', 'b', 'c', 'd'])
print(obj2, type(obj2))
print(obj2.sum(), obj2.mean(), obj2.std())
print(obj2.index)
print(obj2.values)
print(obj2['a'])

0    3
1    7
2   -5
3    4
dtype: int64 <class 'pandas.core.series.Series'>
a    3
b    7
c   -5
d    4
dtype: int64 <class 'pandas.core.series.Series'>
9 2.25 5.123475382979799
Index(['a', 'b', 'c', 'd'], dtype='object')
[ 3  7 -5  4]
3

In [11]:
names = {'mouse':12000, 'keyboard':25000, 'mornitor':450000}
obj3 = Series(names)
print(obj3)
obj3.index = ['마우스', '키보드', '모니터']
obj3.name = "상품정보"
obj3.index.name = " 상품명"
print(obj3)

mouse        12000
keyboard     25000
mornitor    450000
dtype: int64
 상품명
마우스     12000
키보드     25000
모니터    450000
Name: 상품정보, dtype: int64

In [15]:
from pandas import DataFrame
data = {
    'irum' : ['홍길동', '고길동', '신기해', '공기밥'],
    'juso' : ['역삼동', '삼성동', '하계동', '방배동'],
    'nai' : [22, 24, 38, 28]
}

print(data, type(data))

frame = DataFrame(data)
print(frame, type(frame))
print(frame['irum'])
print(frame.irum, type(frame.irum))
print(DataFrame(data, columns=['juso', 'irum', 'nai']))

{'irum': ['홍길동', '고길동', '신기해', '공기밥'], 'juso': ['역삼동', '삼성동', '하계동', '방배동'], 'nai': [22, 24, 38, 28]} <class 'dict'>
  irum juso  nai
0  홍길동  역삼동   22
1  고길동  삼성동   24
2  신기해  하계동   38
3  공기밥  방배동   28 <class 'pandas.core.frame.DataFrame'>
0    홍길동
1    고길동
2    신기해
3    공기밥
Name: irum, dtype: object
0    홍길동
1    고길동
2    신기해
3    공기밥
Name: irum, dtype: object <class 'pandas.core.series.Series'>
  juso irum  nai
0  역삼동  홍길동   22
1  삼성동  고길동   24
2  하계동  신기해   38
3  방배동  공기밥   28

In [25]:
frame2 = DataFrame(data, columns=['irum', 'nai', 'juso', 'junhwa'], index=['a', 'b', 'c', 'd'])
print(frame2)
frame2['junhwa'] = '010-1111-1111'
print(frame2)
jun_val = Series(['111-2345', '222-2222', '333-3333', '444-4444'], index = ['a', 'b', 'c', 'e'])
frame['junhwa'] = jun_val
print(frame2)

  irum  nai juso junhwa
a  홍길동   22  역삼동    NaN
b  고길동   24  삼성동    NaN
c  신기해   38  하계동    NaN
d  공기밥   28  방배동    NaN
  irum  nai juso         junhwa
a  홍길동   22  역삼동  010-1111-1111
b  고길동   24  삼성동  010-1111-1111
c  신기해   38  하계동  010-1111-1111
d  공기밥   28  방배동  010-1111-1111
  irum  nai juso         junhwa
a  홍길동   22  역삼동  010-1111-1111
b  고길동   24  삼성동  010-1111-1111
c  신기해   38  하계동  010-1111-1111
d  공기밥   28  방배동  010-1111-1111

In [26]:
print(frame2.T)
print(frame2.values) # array로 뽑을 수 있음.
print(frame2.values[0,2]) 
print()

frame3 = frame2.drop('d')
#frame3 = frame2.drop('d', axis = 0)
frame4 = frame3.drop('junhwa', axis = 1) # 행날리기
print(frame3)

                    a              b              c              d
irum              홍길동            고길동            신기해            공기밥
nai                22             24             38             28
juso              역삼동            삼성동            하계동            방배동
junhwa  010-1111-1111  010-1111-1111  010-1111-1111  010-1111-1111
[['홍길동' 22 '역삼동' '010-1111-1111']
 ['고길동' 24 '삼성동' '010-1111-1111']
 ['신기해' 38 '하계동' '010-1111-1111']
 ['공기밥' 28 '방배동' '010-1111-1111']]
역삼동

  irum  nai juso         junhwa
a  홍길동   22  역삼동  010-1111-1111
b  고길동   24  삼성동  010-1111-1111
c  신기해   38  하계동  010-1111-1111

In [29]:
print(frame3)
print(frame3.sort_index(axis=0, ascending=False))
print(frame3.sort_index(axis=1, ascending=True))
print(frame3.rank(axis=0))
print()

print(frame3['irum'][:2])
print(frame3.irum[:2])
cnt = frame['juso'].value_counts()
print(cnt)

  irum  nai juso         junhwa
a  홍길동   22  역삼동  010-1111-1111
b  고길동   24  삼성동  010-1111-1111
c  신기해   38  하계동  010-1111-1111
  irum  nai juso         junhwa
c  신기해   38  하계동  010-1111-1111
b  고길동   24  삼성동  010-1111-1111
a  홍길동   22  역삼동  010-1111-1111
  irum         junhwa juso  nai
a  홍길동  010-1111-1111  역삼동   22
b  고길동  010-1111-1111  삼성동   24
c  신기해  010-1111-1111  하계동   38
   irum  nai  juso  junhwa
a   3.0  1.0   2.0     2.0
b   1.0  2.0   1.0     2.0
c   2.0  3.0   3.0     2.0

a    홍길동
b    고길동
Name: irum, dtype: object
a    홍길동
b    고길동
Name: irum, dtype: object
삼성동    1
하계동    1
역삼동    1
방배동    1
Name: juso, dtype: int64

In [33]:
data = {
    'juso':['강남구 역삼동', '중구 신당동', '강남구 대치동'],
    'inwon':[23, 25, 11]
}

frame = DataFrame(data)
print(frame)
results = Series([x.split()[0] for x in frame.juso])
print(results, ' ', results.value_counts())
results2 = Series([x.split()[1] for x in frame.juso])
print(results2)

      juso  inwon
0  강남구 역삼동     23
1   중구 신당동     25
2  강남구 대치동     11
0    강남구
1     중구
2    강남구
dtype: object   강남구    2
중구     1
dtype: int64
0    역삼동
1    신당동
2    대치동
dtype: object